<!-- Footer -->
<footer class="footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 pt-md-4 pl-md-5">

        <!-- Content -->
        <h5 class="text-uppercase">The Five Kages</h5>
        <p>The best garage in the World</p>
        <small class="text-white-50">And jesus christ why I even have to do this, god save me.</small>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 pt-md-4">

        <!-- Links -->
        <h5 class="text-uppercase">Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://angularfirebase.com">AngularFireBase</a>
          </li>
          <li>
            <a href="http://angular.io">Angular</a>
          </li>
          
          <li>
            <a href="https://material.angular.io">AngularMaterial</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 pt-md-4">

        <!-- Links -->
        <h5 class="text-uppercase">References</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://stackoverflow.com">Stackoverflow</a>
          </li>
          <li>
            <a href="https://medium.com/">Medium</a>
          </li>
          <li>
            <a href="https://fireship.io/">Fireship</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white-50">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->