<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2" style="margin-top: 20px">
      <button class="btn btn-outline-secondary" (click)="goBack()">
        <i class="fas fa-caret-square-left"></i> Back</button>
      <div class="shadow-lg" style="margin-top: 20px">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-footer class="mt-auto"></app-footer> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="page-wrapper">
  <div class="header">
      <app-header></app-header>
  </div>
  <div class="content-wrapper">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-12" style="margin-top: 20px">
              <button class="btn btn-outline-secondary" (click)="goBack()">
                <i class="fas fa-caret-square-left"></i> Back</button>
              <div class="rounded-lg shadow-lg" style="margin-top: 20px; padding: 5px">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
          <app-footer></app-footer>
      </div>
  </div>
</div> -->
